In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataDictPath = "./data/Data Dictionary.xlsx"
dataDict = pd.read_excel(dataDictPath)

In [3]:
dataDict

,Variable Name,Description,Unnamed: 2
0,UniqueID,Identifier for customers,NaN
1,loan_default,Payment default in the first EMI on due date,NaN
2,disbursed_amount,Amount of Loan disbursed,NaN
3,asset_cost,Cost of the Asset,NaN
4,ltv,Loan to Value of the asset,NaN
5,branch_id,Branch where the loan was disbursed,NaN
6,supplier_id,Vehicle Dealer where the loan was disbursed,NaN
7,manufacturer_id,"Vehicle manufacturer(Hero, Honda, TVS etc.)",NaN
8,Current_pincode,Current pincode of the customer,NaN
9,Date.of.Birth,Date of birth of the customer,NaN
10,Employment.Type,Employment Type of the customer (Salaried/Self...,NaN
11,DisbursalDate,Date of disbursement,NaN
12,State_ID,State of disbursement,NaN
13,Employee_code_ID,Employee of the organization who logged the di...,NaN
14,MobileNo_Avl_Flag,if Mobile no. was shared by the customer then ...,NaN
15,Aadhar_flag,if aadhar was shared by the customer then flag...,NaN
16,PAN_flag,if pan was shared by the customer then flagged...,NaN
17,VoterID_flag,if voter was shared by the customer then flag...,NaN
18,Driving_flag,if DL was shared by the customer then flagged ...,NaN
19,Passport_flag,if passport was shared by the customer then fl...,NaN
20,PERFORM_CNS.SCORE,Credit Bureau Score,NaN
21,PERFORM_CNS.SCORE.DESCRIPTION,Credit Bureau score description,NaN
22,PRI.NO.OF.ACCTS,count of total loans taken by the customer at ...,Primary accounts are those which the customer ...
23,PRI.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
24,PRI.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
25,PRI.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
26,PRI.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
27,PRI.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
28,SEC.NO.OF.ACCTS,count of total loans taken by the customer at ...,Secondary accounts are those which the custome...
29,SEC.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
30,SEC.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
31,SEC.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
32,SEC.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
33,SEC.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
34,PRIMARY.INSTAL.AMT,EMI Amount of the primary loan,NaN
35,SEC.INSTAL.AMT,EMI Amount of the secondary loan,NaN
36,NEW.ACCTS.IN.LAST.SIX.MONTHS,New loans taken by the customer in last 6 mont...,NaN
37,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Loans defaulted in the last 6 months,NaN
38,AVERAGE.ACCT.AGE,Average loan tenure,NaN
39,CREDIT.HISTORY.LENGTH,Time since first loan,NaN
40,NO.OF_INQUIRIES,Enquries done by the customer for loans,NaN